<div class="space-y-4">

  <!-- Header -->
  <div class="flex flex-col lg:flex-row lg:items-center justify-between gap-3">
    <h1 class="text-xl font-semibold text-white">Users</h1>
<a href="admin/user-create">
    <button
      routerLink="create"  
       class="w-full lg:w-auto px-4 py-2 rounded-lg
           bg-cyan-500 text-black font-semibold
           hover:bg-cyan-400 transition">
    + Add User
    </button></a>
  </div>

  <!-- Table -->
  <div class="hidden lg:block overflow-x-auto max-h-172 overflow-y-auto pr-2 scrollbar-thin rounded-xl border border-white/10">
    <table class="w-full text-sm">
      <thead class="bg-slate-800 text-slate-400">
        <tr>
          <th class="px-4 py-3 text-left">Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Level</th>
          <th>Status</th>
          <th class="text-right px-4">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let user of users"
          class="border-t border-white/5 hover:bg-slate-800/40 transition">

          <td class="px-4 py-3 font-medium text-white">
            {{ user.name }}
          </td>

          <td>{{ user.email }}</td>

          <td>
            <span class="px-2 py-1 rounded-full bg-slate-700 text-xs">
              {{ user.role }}
            </span>
          </td>
          <td>
            <span class="px-2 py-1 rounded-full bg-slate-700 text-xs"> 
              {{ user.level }}
            </span>
          </td>

          <td>
            <span
              class="px-2 py-1 rounded-full text-xs"
              [class.bg-green-500]="user.status === 'active'"
              [class.bg-red-500]="user.status === 'blocked'">
              {{ user.status }}
            </span>
          </td>

          <td class="text-right px-4 space-x-3">
            <a href="admin/user-detail"
        >
        View
      </a>
            <a
              [routerLink]="user.id + '/edit'"
              class="text-cyan-400 hover:underline">
              Edit
            </a>

            <button
              (click)="deleteUser(user)"
              class="text-red-400 hover:underline">
              Delete
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
<!-- MOBILE CARDS -->
<div class="lg:hidden space-y-4 max-h-92 overflow-y-auto pr-2 scrollbar-thin">
  <div
    *ngFor="let user of users"
    class="bg-slate-900 border border-white/10 rounded-xl p-4 space-y-3">

    <!-- Header -->
    <div class="flex items-center justify-between">
      <div>
        <p class="text-white font-semibold">{{ user.name }}</p>
        <p class="text-xs text-slate-400">{{ user.email }}</p>
      </div>
<div class="px-2 py-1 rounded-full bg-slate-700 text-xs">{{user.level}}</div>
      <span
        class="px-2 py-1 rounded-full text-xs font-semibold"
        [ngClass]="{
          'bg-green-500 text-black': user.status === 'active',
          'bg-red-500 text-black': user.status === 'blocked'
        }">
        {{ user.status | uppercase }}
      </span>
    </div>

    <!-- Role -->
    <div class="flex justify-between text-sm">
      <span class="text-slate-400">Role</span>
      <span class="px-2 py-1 rounded-lg bg-slate-700 text-xs">
        {{ user.role }}
      </span>
    </div>

    <!-- Actions -->
    <div class="flex gap-3 pt-3"> 
        <a href="admin/user-detail"
        [routerLink]="user.id + '/view'"
        class="flex-1 text-center py-2 rounded-lg
               bg-slate-800 hover:bg-slate-700
               text-cyan-400 text-sm font-semibold">
        View
      </a>
      <a
        [routerLink]="user.id + '/edit'"
        class="flex-1 text-center py-2 rounded-lg
               bg-slate-800 hover:bg-slate-700
               text-cyan-400 text-sm font-semibold">
        Edit
      </a>

      <button
        (click)="deleteUser(user)"
        class="flex-1 py-2 rounded-lg
               bg-red-500/10 hover:bg-red-500/20
               text-red-400 text-sm font-semibold">
        Delete
      </button>
    </div>
  </div>
</div>

</div>

