.footer {
  padding: 60px 0;
  background: #080b12;

  .container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }

  h3 {
    color: #fff;
    font-size: 20px;
  }

  p {
    color: #7f8797;
  }

  .links a {
    color: #aab2c0;
    margin: 0 15px;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}
