<div class="space-y-6">

  <div>
    <h1 class="text-2xl font-semibold text-white">
      Admin Dashboard
    </h1>
    <p class="text-slate-400 text-sm">
      System overview & real-time insights
    </p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">

    <a *ngFor="let s of stats" [routerLink]="s.route" class="bg-slate-900 border border-white/10 rounded-xl p-5
             hover:border-cyan-400 transition block">

      <div class="flex items-center justify-between">
        <div>
          <p class="text-sm text-slate-400">{{ s.label }}</p>
          <p class="text-2xl font-bold text-white mt-1">
            {{ s.value }}
          </p>
        </div>

        <div class="w-12 h-12 rounded-xl flex items-center justify-center
                 text-black text-xl" [ngClass]="s.color">
          {{ s.icon }}
        </div>
      </div>
    </a>

  </div>

  <div class="grid grid-cols-1 xl:grid-cols-3 gap-6">
    <!-- chart deposit System Overview-->
    <div class="xl:col-span-2 bg-slate-900 border border-white/10 rounded-xl p-6">
      <h3 class="text-lg font-semibold text-white mb-4">
        System Overview
      </h3>
    
      <deposit-chart></deposit-chart>
      
    </div>
    <!--   Recent Activity -->
    <div class="bg-slate-900 border border-white/10 rounded-xl p-6">
      <h3 class="text-lg font-semibold text-white mb-4">
        Recent Activity
      </h3>

      <!-- Scroll container -->
      <div class="space-y-4 max-h-72 overflow-y-auto pr-2 scrollbar-thin">
        <div *ngFor="let a of activities" class="flex justify-between items-center
                border-b border-white/5 pb-2 last:border-0">

          <div>
            <p class="text-white text-sm font-medium">
              {{ a.user }}
            </p>
            <p class="text-xs text-slate-400">
              {{ a.action }}
            </p>
          </div>

          <span class="text-xs text-slate-500 whitespace-nowrap">
            {{ a.time }}
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

